.home_container{
    display: flex;
    width: 100vw;
    height: 100%;
    overflow: hidden;
    justify-content: space-evenly;
    /* align-items: center; */
    /* background-image: linear-gradient(
        to bottom,
        rgba(255, 0, 17, 0.133),
        rgba(0, 64, 255, 0.13)
      ),  url("../images/horde_vs_alliance.png");
    background-repeat: no-repeat;
    background-size: cover; */
}

.backgroundImage{
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100%;
    margin-top: 56px;
    mask-image: linear-gradient(rgba(0,0,0,1),rgba(0,0,0,0.8));
    z-index: auto;
}

.home_left{
    width: fit-content;
    max-width: 50%;
    margin-left: 120px;
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    z-index: 1;
}

.home_left_title{
    font-size: 2.5rem;
    font-weight: 900;
    text-shadow: 1px 1px 2px rgba(0,0,0,1);
    color: rgba(237, 122, 122,1);
}

.home_left_text{
    text-align:left;
    font-size: 1.5rem;
    color: rgb(122, 145, 245);
    font-weight: 800;
    text-shadow: 1px 2px 0px rgba(0,0,0,1);
}

.home_left_button{
    margin-top: 10px;
    width: 200px;
    height: 100px;
    border-radius: 35%;
    border: 1px solid rgba(51,158,41,0.6);
    background: linear-gradient(#f47676, #f4c44a);
    font-size: 1.5rem;
    font-weight: 800;
    color: rgba(99,52,168);
    transition:  transform 1s;
}

.home_left_button:hover {
    background: linear-gradient(0.8turn, #f4c44a,#f47676);
    transform: scale(1.05);
    cursor:context-menu;
    font-size: 1.8rem;
    font-weight: 900;
}

.home_author{
    font-size: 3rem;
    color: black;
    z-index: 1;
    margin-top: 40%;
    align-self: flex-end;
    color: #eed35a;
}